<h3>Create User</h3>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <form [formGroup]="userDeatilsForm" #saveuser (ngSubmit)="saveUser(saveUser)">  
          <div class="form-group">  
              <label for="userName">UserName</label>  
              <input type="text" class="form-control"  formControlName="userName" data-toggle="tooltip"   
                 data-placement="right" title="Enter User Name" >  
              <div class="alert alert-danger" *ngIf = "(userName.touched) && (userName.invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="userName.errors.required">User Name is Required</span>  
                    <span *ngIf = "userName.errors.minlength">   
                        MinLength Error   
                    </span>                     
                </div>  
          </div>  
          <div class="form-group">  
            <label for="password">Password</label>  
            <input type="text" class="form-control"  formControlName="userName" data-toggle="tooltip"   
               data-placement="right" title="Enter password" >  
            <div class="alert alert-danger" *ngIf = "(password.touched) && (password.invalid)"   
              style="margin-top: 5px;">  
                <span *ngIf="password.errors.required">password is Required</span>  
                  <span *ngIf = "password.errors.minlength">   
                      MinLength Error   
                  </span>                     
              </div>  
        </div>  

    
          <div class="form-group">  
              <label for="email">Student Email</label>  
              <input type="text" class="form-control" formControlName="email"   
                data-toggle="tooltip" data-placement="right" title="Enter  Email">  
                <div class="alert alert-danger" *ngIf = "(email.touched) && (email.invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="email.errors.required"> Email is Required</span>  
                    <span *ngIf = "email.errors.email">   
                        Invalid Email Format   
                    </span>                     
                </div>  
          </div>  
    
          <div class="form-group">  
            <label for="firstName">First Name</label>  
            <input type="text" class="form-control"  formControlName="firstName" data-toggle="tooltip"   
               data-placement="right" title="Enter First Name" >  
        </div> 
        <div class="form-group">  
            <label for="lastName">Last Name</label>  
            <input type="text" class="form-control"  formControlName="lastName" data-toggle="tooltip"   
               data-placement="right" title="Enter Last Name" >  
        </div>  
        <div class="form-group">  
            <label for="pincode">Pincode</label>  
            <input type="text" class="form-control"  formControlName="pincode" data-toggle="tooltip"   
               data-placement="right" title="Enter pincode" >  
        </div>  

        <div class="form-group">  
            <label for="comapanyName">Comapany Name</label>  
            <input type="text" class="form-control"  formControlName="comapanyName" data-toggle="tooltip"   
               data-placement="right" title="Enter Comapany Name" >  
        </div>  
        
        <div class="form-group">  
            <label for="location">Location </label>  
            <input type="text" class="form-control"  formControlName="location" data-toggle="tooltip"   
               data-placement="right" title="Enter location" >  
        </div>  
        
        <div class="form-group">  
            <label for="yearOfExperience">Year Of Experience </label>  
            <input type="text" class="form-control"  formControlName="yearOfExperience" data-toggle="tooltip"   
               data-placement="right" title="Enter Year Of Experience" >  
        </div>  

        <div class="form-group">  
            <label for="dateOfBirth">Date Of Birth</label>  
            <input type="date" class="form-control"  formControlName="dateOfBirth" data-toggle="tooltip"   
               data-placement="right" title="Enter Date Of Birth" >  
        </div>  

        <div class="form-group">  
            <label for="dateOfJoining">Date Of Joining</label>  
            <input type="date" class="form-control"  formControlName="dateOfJoining" data-toggle="tooltip"   
               data-placement="right" title="Enter Date Of Joining" >  
        </div>  

          <button type="submit" class="btn btn-success">Submit</button>  
      </form>  
  </div>  
  </div>  
  <div class="col-sm-4"></div>  
</div>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4">  
      <div [hidden]="!submitted">  
         <h4>User Added SuccessFully!</h4>  
         <button (click)="addUserDetailsForm()" class='btn btn-primary'>Add More User</button>  
      </div>        
  </div>  
  <div class="col-sm-4"></div>  
</div>  
